# Données brutes DVF — 1.9 Go, inutiles dans l'image
Backend/Data pipeline/Data/
Backend/Data pipeline/outputs/
data

# Environnements Python virtuels
data_env/
data-pipeline/.venv/
.venv/

# Dépendances JS
Frontend/node_modules/
Frontend/dist/

# Git
.git/
.gitignore
.gitattributes

# Cache Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

# Fichiers de dev
*.log
.env*
.DS_Store
